.contain {
  width: 350px;
  transform: scale(0);
  animation: fader 1s;
  animation-fill-mode: both;

  @for $i from 0 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 0ms + (150ms * $i);
    }
  }
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  &:hover {
    .card__check {
      margin-right: -15px;
    }
  }

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 300;
  }

  &__price {
    font-size: 15px;
    font-weight: 700;
    color: #353535;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
  }

  &__check {
    background-color: #99e2d0;
    width: 59px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px -75px -15px 15px;
    transition: margin-right 300ms;

    &__container {
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #99e2d0;
      }
    }
  }
}

@keyframes fader {
  to {
    transform: scale(1);
  }
}

@media (min-width: 1440px) {
  .contain {
    width: 634px;
  }
}
