.loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  height: 100vh;
  z-index: 2;
  opacity: 0.9;
  display: grid;
  place-items: center;
  animation: loading 1s 3s forwards;

  i {
    animation: spinning 2s linear infinite;
  }
}

@keyframes loading {
  0% {
    opacity: 0.9;
  }
  66% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
