@media (max-width: 375px) {
  body .contain {
    width: 350px;
    transform: scale(0);
    animation: fader 1s;
    animation-fill-mode: both;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  body .contain:nth-child(0) {
    animation-delay: 0.2s;
  }
  body .contain:nth-child(1) {
    animation-delay: 0.4s;
  }
  body .contain:nth-child(2) {
    animation-delay: 0.6s;
  }
  body .contain:nth-child(3) {
    animation-delay: 0.8s;
  }
  body .contain:nth-child(4) {
    animation-delay: 1s;
  }
  body .contain:nth-child(5) {
    animation-delay: 1.2s;
  }
  body .contain:nth-child(6) {
    animation-delay: 1.4s;
  }
  body .contain:nth-child(7) {
    animation-delay: 1.6s;
  }
  body .contain:nth-child(8) {
    animation-delay: 1.8s;
  }
  body .contain:nth-child(9) {
    animation-delay: 2s;
  }
  body .contain:nth-child(10) {
    animation-delay: 2.2s;
  }
  body .card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    overflow: hidden;
  }
  body .card:hover .card__check {
    margin-right: -15px;
  }
  body .card__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  body .card__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  body .card__subtitle {
    font-size: 15px;
    font-weight: 300;
  }
  body .card__price {
    font-size: 15px;
    font-weight: 700;
    color: #353535;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
  }
  body .card__check {
    background-color: #99E2D0;
    width: 59px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px -75px -15px 15px;
    transition: margin-right 300ms;
  }
  body .card__check__container {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .card__check__container i {
    color: #99E2D0;
  }
  @keyframes fader {
    to {
      transform: scale(1);
    }
  }
  body .header {
    display: block;
  }
  body .header__arrowback {
    position: absolute;
    top: 24px;
    left: 23px;
    color: #353535;
  }
  body .main {
    padding-top: 0px;
    text-align: unset;
  }
  body .main__image {
    width: 100%;
  }
  body .main__menu {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: #F6F6F6;
    border-radius: 35px;
    margin-top: -50px;
  }
  body .main__menu__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body .main__menu__title__text {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    color: #101010;
  }
  body .main__category {
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
  }
  body .main__category__title {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
  }
  body .main__category__line {
    width: 40px;
    border: 2px #99E2D0 solid;
    margin: 0;
  }
}

/*# sourceMappingURL=menu.css.map */
