@media (max-width: 375px) {
	body {
		.contain {
			width: 350px;
			transform: scale(0);
			animation: fader 1s;
			animation-fill-mode: both;
			box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
			
			@for $i from 0 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.2s + (200ms * $i);
				}
			}
		}
		
		.card {
			background-color: white;
			padding: 15px;
			border-radius: 15px;
			cursor: pointer;
			max-width: 100%;
			display: flex;
			overflow: hidden;
			&:hover {
				.card__check {
					margin-right: -15px;
				}
			}
			
			&__header {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				flex: 1;
			}
			
			&__title {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin: 0;
				font-size: 18px;
				font-weight: 500;
			}
			
			&__subtitle {
				font-size: 15px;
				font-weight: 300;
			}
			
			&__price {
				font-size: 15px;
				font-weight: 700;
				color: #353535;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				padding-left: 10px;
			}
			
			&__check {
				background-color: #99E2D0;
				width: 59px;
				border-radius: 0px 15px 15px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: -15px -75px -15px 15px;
				transition: margin-right 300ms;
				
				&__container {
					width: 25px;
					height: 25px;
					background-color: white;
					border-radius: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					
					i {
						color: #99E2D0;
					}
				}
			}
		}
		
		@keyframes fader {
			to {
				transform: scale(1);
			}
		}
		
		.header {
			display: block;
			&__arrowback {
				position: absolute;
				top: 24px;
				left: 23px;
				color: #353535;
			}
		}
		
		.main {
			padding-top: 0px;
			text-align: unset;
			
			&__image {
				width: 100%;
			}
			
			&__menu {
				display: flex;
				flex-direction: column;
				position: relative;
				z-index: 1;
				background-color: #F6F6F6;
				border-radius: 35px;
				margin-top: -50px;
			
				&__title {
					display: flex;
					justify-content: space-around;
					align-items: center;
					
					&__text {
						font-family: "Shrikhand", serif;
						font-size: 28px;
						color: #101010;
					}
				}
			}
			
			&__category {
				padding: 0 13px;
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-bottom: 40px;
				
				&__title {
					font-weight: 300;
					font-size: 16px;
					margin: 0;
				}
				
				&__line {
					width: 40px;
					border: 2px #99E2D0 solid;
					margin: 0;
				}
			}
		}
	}
}